.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    width: 100%;
    background: linear-gradient(147.97deg, #59168B 0%, #6E11B0 50%, #A3004C 100%);
}
