.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: var(--sp8);
}

.iconContainer {
 width: 80px;
 height: 80px;
 margin-bottom: var(--sp4);
}

.icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: #05DF72;
    stroke: none !important;
}

.title {
    margin-bottom: var(--sp2);
    text-align: center;
    color: var(--text-home-page);
}

.description {
    margin-bottom: var(--sp4);
    text-align: center;
    color: var(--text-muted-color);
}

.button {
    margin-top: var(--sp4);
    width: 100%;
}