.badge {
  display: flex;
  width:fit-content;
  align-items: center;
  gap: var(--sp1);
  height: 22px;
  padding: var(--sp2);
  border-radius: var(--radius-sm);
  
}

/* Admin — amber */
.admin {
  background-color: rgba(115, 62, 10, 0.3);
  color: #fdc700;
}

/* Contributor — blue */
.contributor {
  background-color: rgba(28, 57, 142, 0.3);
  color: #51a2ff;
}

/* Viewer — grey */
.viewer {
  background-color: #1e2939;
  color: var(--text-sidebar-item);
}
