.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--home-bg-color);
}

.main {
  flex: 1;
}

.main section + section {
  border-top: 1px solid var(--border-divider);
}
