.recentNotes {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
    gap: var(--sp4);
    width: 100%;
}

.header{
    margin-bottom: var(--sp6);
    color: var(--text-home-page);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.viewAllButton{
    color: var(--text-home-page);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.container{
  
    background-color: blue;
    padding: var(--sp8);
    max-width: 1000px;
}