.buttonSubmit{
    outline: none;
   transition: transform 0.1s ease, background-color 0.2s ease;
    width: 100%;
    &:hover{
      background-color: #a855f7; 
    box-shadow: 0px 4px 12px rgba(147, 51, 234, 0.3); 
    }
}

.forgotPasswordContainer {
    margin-bottom: var(--sp4);
}

.forgotPassword {
    color: var(--brand-primary-color);

    
    transition: opacity 0.2s;
    &:hover{
        opacity: 0.8;
    }
}


