.container{
    
}
.title{
    margin-top: 32px;
    margin-bottom: 16px;
   color :var(--text-home-page);
}
.buttonSubmit{

    width: 100%;
    margin-bottom: 16px;
}
.backToLogin{
    width: 100%;
    background-color:transparent;
    color: var(--text-home-page);
}