.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

.fileIcon {
    width: 64px;
    height: 64px;
    margin: var(--sp5) 0;
    
}

.title {
    color: var(--text-home-page);
     margin: var(--sp4) 0;
}

.description {
    margin: var(--sp4) 0 var(--sp6) 0;
    color: var(--text-muted-color);
}
.createNoteBtn {
    margin: var(--sp6) 0;
   width: 100%;
   height: 36px !important;

}

