html, body, #root {
    height: 100%;
    width: 100%;
}

#root {
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    /* Design Colors */
    --brand-primary-color: #9810fa;
    --brand-secondary-color: #4f8bff;
    --sidebar-bg-color: #101828;
    --bg-page-color: #f9fafb;
    --surface-color: #fff;
    --text-primary-color: #0a0a0a;
    --text-secondary-color: #4a5565;
    --text-muted-color: #6a7282;
    --text-sidebar-item: #99a1af;
    --text-sidebar-nav: #d1d5dc;
    --danger-color: #d4183d;
    --badge-blue-bg: #e5f0fc;
    --sidebar-divider-color: #1e2939;
    --sidebar-border-color: #364153;
    --border-divider: #e5e7eb;


    /* Gradients */
    --gradient-purple-pink: linear-gradient(135deg, #ad46ff, #f6339a);
    --gradient-blue-cyan: linear-gradient(135deg, #2b7fff, #00b8db);
    --gradient-green: linear-gradient(135deg, #00c950, #00bc7d);
    --gradient-purple-pink-light: linear-gradient(135deg, #c27aff, #fb64b6);


    /* Spacing */
    --sp1: 4px;
    --sp2: 8px;
    --sp3: 12px;
    --sp4: 16px;
    --sp5: 20px;
    --sp6: 24px;
    --sp8: 32px;
    --sp12: 48px;


    /* Border Radius */
    --radius-sm: 8px;
    --radius-md: 10px;
    --radius-lg: 14px;
    --radius-full: 50%;


    /* Heights */
    --btn-height: 36px;
}

.focus-outline:focus {
    outline: 2px solid var(--brand-primary-color);
}

.btn {
    font-size: 14px;
    font-weight: 400;
    height: var(--btn-height);
    padding-inline: 12px;
    border: none;
    border-radius: var(--radius-sm);
    cursor: pointer;


    &.btn-primary {
        background-color: var(--brand-primary-color);
        color: #fff;
    }

    &.btn-secondary {
        background-color: var(--surface-color);
        color: var(--text-primary-color);
        border: 1px solid #4F8BFF26;
    }

    &.btn-danger {
        background-color: var(--danger-color);
        color: #fff;

    }

    &.btn-ghost {
        background-color: transparent;
        color: var(--text-primary-color);
        border: 1px solid #E5E7EB
    }
}

.link {
    color: var(--brand-primary-color);
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

@media (max-width: 640px) {

    :root {
        --btn-height: 32px;
    }
}