.card{
background-color:var(  --notecard-bg-color);
padding: var(--sp6);
border-radius: var(--radius-sm);
border: 1px solid  var(--border-color);
}
.title{
    color: var(--text-home-page);   
    margin-bottom:80px;
}
.info{
    display: flex;
    align-items: center;
    gap: var(--sp1);
    color: var(--text-sidebar-item);
  
    margin-bottom:var(--sp10) ;
    
}
.divider{
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
    margin-bottom: var(--sp4) ;
    
}
.actions{
    display: flex;
    align-items: center;
    gap: var(--sp2);
}
.btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--sp2);
    border-radius: var(--radius-sm);
    padding: var(--sp2);
    color: var(--text-home-page);
    background-color: transparent;
    border:none
}

.restoreBtn{
    border: 1px solid rgba(79,139,255,0.15);
    &:hover{
        background-color:rgba(79,139,255,0.1)
    }


}
.deleteBtn{
    background-color:var(--danger-color);
   &:hover{
   background-color:rgba(185, 33, 35, 0.9)
   }
}